.sideBar{
    height: 100%;
    margin-left: -15px;
}
.logo{
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: rgb(49, 48, 48);
    width: 17rem;
    margin-left: -1rem;
}
.Logo{
    width: 3rem;
    padding-left: 1rem;
}
.name{
    font-weight: 600;
    color: white;
}
.icon{
    color: white;
}
.inline-flex.list.selected  {
    background-color: black;
   opacity: 0.4;
     width: 96%;

}
.button{
    color: white;
    padding-left: 24px;
    font-size: 31px;
}
.secondButton{
    color: rgb(0, 0, 0);
    padding-left: 24px;
    font-size: 31px;

    padding-top: 34px;

}